[Desktop Entry]
Type=Application
Name=cncra
Comment=
Exec=AppRun
Icon=cncra
Categories=Game;
Terminal=false
StartupWMClass=RA1MPLauncher.exe
Keywords=game
